version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: db
    env_file:
      - ./conf/.env.dev
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
#    ports:
#      - "54321:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: docker/app.Dockerfile
    container_name: fastapi_app
    depends_on:
      - db
    ports:
      - "8000:8000"
    env_file:
      - ./conf/.env.dev
    environment:
      ENV: dev
      DB_HOST: db
    volumes:
      - .:/app
      - ./logs:/app/logs
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge